{
	"apitoken": "<APITOKEN>",
	"madmin_url" : ["<USER>:<PASSWORD>@http://127.0.0.1:5050"],
	"oktimeout" : 20,
	"language" : "de",
    "maintenance" : false,
    "maintainer" : "",
	"actionwait" : 60,
	"tgcorrelation": {
			"<CHATID>": {
				"name": "SuperAdmin",
				"box_origin": "all,allmsg",
				"verbose": false
				},
			"<CHATID>": {
				"name": "<NAME>",
				"verbose": true,
				"box_origin": "all,<ORIGIN1>,<ORIGIN2>"
				}
			},
	"action": {
			"global": {
				"60": "MSG"
				},
			"<ORIGIN1>": {
				"25": "MADURL:/restart_phone?origin=<ORIGIN>&adb=False",
				"35": "MSG"
				},
			"<ORIGIN2>": {
				"40": "SCR:/home/mad/utils/boxrestart.sh <ORIGIN>",
				"60": "MSG"
				}
			}
}
